RewriteEngine On
RewriteBase /

# Serve existing files and directories normally
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Internally rewrite everything else to /public
RewriteRule ^(.*)$ /public/$1 [L]
